<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <!--基本信息-->
      <li class="treeview" ng-repeat="menu in items" ui-sref-active="active">
        <a>
          <i class="fa" ng-class="menu.icon"></i> <span ng-bind="menu.label"></span>
          <span class="pull-right-container">
             <i class="fa fa-angle-left pull-right"></i>
          </span>
          <div class="tri-angle"></div>
        </a>
        <ul class="treeview-menu" ng-if="menu.items && menu.items.length > 0">
          <li ng-repeat="menuitem in menu.items" ng-if="menuitem.visibility !== false">
            <a ui-sref="{{menuitem.stateLink}}">
              <i class="fa" ng-class="menuitem.icon"></i>
              <span ng-bind="menuitem.label"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>