<div class="form-group col-md-6 bo-property-form-group" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}">
  <label class="col-sm-4 control-label" for="{{prop.name}}" ng-bind="prop.label"></label>
  <div class="col-sm-8">
    <label>
      <i class="fa fa-circle" aria-hidden="true" ng-style="boData[prop.name].background | LeadsStatusStyle"></i>
      <span ng-bind="boData[prop.name]  | BoLabel : prop  | EmptyDataPlaceHolder"></span>
    </label>
  </div>
</div>