<div class="form-group col-md-6 bo-property-form-group" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}" ng-controller="BoPropertyController">
  <label class="col-sm-4 control-label" for="{{prop.name}}" ng-bind="prop.label"></label>
  <div class="col-sm-8">
    <label>
      <i class="fa fa-check-circle color-blue" aria-hidden="true" ng-if="propValue"></i>
      <i class="fa fa-circle-o" aria-hidden="true" ng-if="!propValue"></i>
      <span ng-bind="propValue | BooleanText | EmptyColumnPlaceHolder"></span>
    </label>
  </div>
</div>