<section class="content-header">
  <h1>
    <span ng-bind="title"></span>
    <small ng-bind="subTitle">Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li ng-repeat="nav in navs" ng-class="{true: 'active', false: ''}[$index === navs.length - 1]">
      <a ui-sref="{{nav.state}}" ng-if="$index !== navs.length - 1">
        <i class="fa fa-dashboard"></i> <span ng-bind="nav.label"></span>
      </a>
      <span ng-bind="nav.label" ng-if="$index === navs.length - 1"></span>
    </li>
  </ol>
</section>