<div class="form-group col-md-6 bo-property-form-group" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}" has-error="{{!!errorMessage}}">
  <label for="{{prop.name}}" ng-bind="prop.label"></label>
  <div ng-if="!prop.readonly">
    <input type="text" class="form-control" ng-model="$parent.value" id="{{prop.name}}" placeholder="{{'请输入' + prop.label}}">
    <span class="help-block" ng-show="errorMessage" ng-bind="errorMessage"></span>
  </div>
  <div ng-if="prop.readonly">
    <input type="text" class="form-control" readonly ng-value="value"></a>
    <span class="help-block" ng-show="errorMessage" ng-bind="errorMessage"></span>
  </div>
</div>