.bo-property-setting-dialog {}

.bo-property-setting-dialog .widget-check-box {
  margin: 10px 20px;
}

.bo-property-setting-dialog .divider {
  border: 0px solid #ccc;
  background: #ccc;
  height: 1px;
  line-height: 0px;
}