<div ng-controller="BoPropertySettingController">
  <!--搜索框-->
  <div>
    <input type="text" class="form-control" ng-model="searchKey" ng-change="onFilterProperties()" />
  </div>
  <!--全选-->
  <div widget-check-box ng-model="selectAll.selected" content="{{selectAll.label}}" on-checkbox-value-changed="selectAll.onCheckboxValueChanged(checked)"></div>
  <div class="divider"></div>
  <!--选项-->
  <div ng-repeat="property in filterProperties track by $index">
    <div widget-check-box ng-model="property.selected" content="{{property.label}}" on-checkbox-value-changed="onCheckboxValueChanged(checked,$index)">
    </div>
  </div>
</div>