<div ng-controller="ChangePasswordController">
  <form class="form-horizontal form-writable">
    <div class="box-body">
      <div class="form-group" has-error="{{oldPassword.hasError}}">
        <label for="oldPassword" class="col-sm-3 control-label">当前密码</label>
        <div class="col-sm-9">
          <input type="password" ng-model="oldPassword.value" class="form-control" id="oldPassword">
          <span class="help-block" ng-if="oldPassword.hasError" ng-bind="oldPassword.errorMessage">
        </span>
        </div>
      </div>
      <div class="form-group" has-error="{{newPassword.hasError}}">
        <label for="newPassword" class="col-sm-3 control-label">新密码</label>

        <div class="col-sm-9">
          <input type="password" ng-model="newPassword.value" class="form-control" id="newPassword">
          <span class="help-block" ng-if="newPassword.hasError" ng-bind="newPassword.errorMessage">
        </span>
        </div>

      </div>
      <div class="form-group" has-error="{{repeatNewPassword.hasError}}">
        <label for="repeatNewPassword" class="col-sm-3 control-label">重复新密码</label>

        <div class="col-sm-9">
          <input type="password" ng-model="repeatNewPassword.value" class="form-control" id="repeatNewPassword">
          <span class="help-block" ng-if="repeatNewPassword.hasError" ng-bind="repeatNewPassword.errorMessage">
        </span>
        </div>
      </div>
    </div>
  </form>
</div>