<div class="form-group col-md-12 bo-property-form-group" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}" has-error="{{!!errors[prop.name]}}">
  <label for="{{prop.name}}" ng-bind="prop.label"></label>
  <div ng-if="!prop.readonly">
    <textarea class="form-control" rows="4" ng-model="$parent.value" id="{{prop.name}}"></textarea>
    <span class="help-block" ng-if="errors[prop.name]" ng-bind="errors[prop.name]['errorMessage']"></span>
  </div>
  <div ng-if="prop.readonly">
    <input type="text" class="form-control" readonly ng-value="value">
  </div>
</div>