<div class="form-group col-md-6 bo-property-form-group" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}" has-error="{{!!errorMessage}}">
  <label for="{{prop.name}}" ng-bind="prop.label"></label>
  <div ng-if="!prop.readonly">
    <div class="input-group" ng-click="onButtonClicked()">
      <span class="input-group-addon"><i class="fa fa-link"></i></span>
      <input type="text" class="form-control input-transparent-important" ng-value="value | BoLabel : prop" readonly placeholder="{{'请选择' + prop.label}}">
    </div>
    <span class="help-block" ng-show="errorMessage" ng-bind="errorMessage"></span>
  </div>
  <div ng-if="prop.readonly">
    <input type="text" class="form-control" readonly ng-value="value | BoLabel : prop"></a>
    <span class="help-block" ng-show="errorMessage" ng-bind="errorMessage"></span>
  </div>
</div>