<div class="bo-home-view row" ng-if="!loadDataFailed" ng-controller="CustomerDetailController">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header with-border">
        <button type="submit" class="btn btn-default pull-right" ng-repeat="button in buttons" ng-if="button.visibility !== false" ng-click="onButtonClicked(button.name,button)" ng-bind="button.text"></button>
      </div>
    </div>
    <div widget-bo-home bo-metadata="boMetadata" prop-templates="propTemplates" bo-data="boData" refresh="refresh()" on-image-removed="onImageRemoved(image,boMeta,prop)"></div>
  </div>
  <div class="col-md-4" ng-include="traceRecordTemplateUrl">

  </div>
</div>