<div class="form-group col-md-12 bo-property-form-group permission-property-states" ng-controller="PermissionPropertyStatesController">
  <div class="box-body" ng-repeat="stateGroup in stateGroups">
    <h4 class="section-title">
      <span ng-bind="stateGroup.label"></span>
    </h4>
    <div ng-repeat="state in stateGroup.items">
      <div widget-check-box class="col-md-3 state-item-check-box" ng-model="state.$$selected" content="{{state.label}}" on-checkbox-value-changed="onCheckboxValueChanged(checked,state)"></div>
    </div>
  </div>
</div>