<div class="box box-primary huoyun-dialog">
	<div class="box-header with-border">
		<h3 class="box-title" ng-bind="ngDialogData.title"></h3>
	</div>
	<div class="box-body" >
		<div ng-if="!ngDialogData.templateUrl" ng-bind="ngDialogData.content">

		</div>
		<div ng-if="ngDialogData.templateUrl" ng-include="ngDialogData.templateUrl">

		</div>
	</div>
	<div class="box-footer">
		<button type="submit" class="btn btn-default pull-right" ng-click="closeThisDialog('Cancel')" ng-bind="ngDialogData.cancelButtonText"></button>
		<button type="submit" class="btn btn-primary pull-right" ng-click="closeThisDialog('OK')" ng-bind="ngDialogData.confirmButtonText"></button>
	</div>
</div>