.widgets-form-group-image-list .image-list-item {
  height: 200px;
  margin-bottom: 10px;
}

.widgets-form-group-image-list .image-list-item .btn-add {
  border: 1px dashed #8c8c8c;
  text-align: center;
  cursor: pointer;
  color: #333;
}

.widgets-form-group-image-list .image-list-item .btn-add:focus,
.widgets-form-group-image-list .image-list-item .btn-add:hover {
  background: #d4d4d4;
}

.widgets-form-group-image-list .image-list-item.btn-add .icon {
  line-height: 200px;
}

.widgets-form-group-image-list .image-list-item.btn-add .text {
  margin-left: 10px;
  line-height: 200px;
}

.widgets-form-group-image-list .image-list-item .widget-image {
  height: 100%;
  width: 100%;
}