<div class="form-group col-md-12 bo-property-form-group widgets-form-group-image-list" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}">
  <div class="col-sm-3 image-list-item" ng-repeat="image in images">
    <div widget-image src="{{image['id'] | ImageList: boMetadata : prop }}" ng-click="previewImage($index)" on-removed="onImageRemoved(image)"></div>
  </div>
  <div class="col-sm-3 image-list-item btn-add" ngf-select="upload($file)" accept="image/*">
    <div class="btn-add">
      <i class="fa fa-plus icon"><span class="text">上传</span></i>
    </div>
  </div>
</div>