<div class="form-group col-md-12 bo-property-form-group" ng-controller="CustomerPropertyStatusDetailController">
  <label class="col-sm-2 control-label" for="{{prop.name}}" ng-bind="prop.label"></label>
  <div class="col-sm-10">
    <div class="progressStyle">
      <ul>
        <li ng-repeat="statusItem in statusItems" ng-class="{true: 'disable', false: ''}[statusItem.$$disable]">
          <span ng-bind="statusItem.name"></span>
          <i class="fa fa-check-circle" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
  </div>
</div>