<div class="box box-without-border choose-item-dialog-content choose-multi-bo-items-dialog-content" ng-controller="ChooseMultiBoItemsDialogController">
  <div class="row">
    <div class="col-md-12 item-content">
      <div class="input-group search-box">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control" ng-model="searchText" ng-change="onSearchBoxChanged()">
        <span class="input-group-addon" ng-show="searchText" ng-click="onRemoveSearchTextButtonClicked()">
          <i class="fa fa-remove"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row select-all-row" ng-show="pageData.content.length > 0 && !searchText">
    <div class="col-md-12 item-content">
      <div widget-check-box ng-model="selectedAll" content="全选" on-checkbox-value-changed="onSelectedAllValueChanged(checked)"></div>
    </div>
  </div>
  <div class="row" ng-repeat="boItem in pageData.content" ng-click="onRowClicked(boItem)">
    <div class="row-content">
      <div ng-if="templateUrl" ng-include="templateUrl"></div>
      <div ng-if="!templateUrl" class="col-md-12 item-content">
        <div widget-check-box ng-model="boItem.$$selected" content="{{boItem[prop.name]}}" on-checkbox-value-changed="onCheckboxValueChanged(checked,boItem)"></div>
      </div>
    </div>
  </div>
  <div class="row loading-more-row" ng-show="pageIndex < pageData.totalPages - 1">
    <div class="col-md-12 item-content" ng-click="onLoadMoreRowClicked()">
      <i class="fa fa-angle-double-down" aria-hidden="true"></i><span class="loading-more-row-text">更多</span>
    </div>
  </div>
  <div widget-loading ng-show="showLoading"></div>
</div>