.choose-bo-item-dialog-content {
  max-height: 410px;
  min-height: 410px;
}

.choose-bo-item-dialog-content .search-box {
  border: 1px solid #d2d6de;
}

.choose-bo-item-dialog-content .search-box .form-control {
  border: none;
}

.choose-bo-item-dialog-content .search-box .input-group-addon {
  border: none;
}

.choose-bo-item-dialog-content .row {
  height: 40px;
  border-bottom: 1px solid #f4f4f4;
  margin-left: -10px;
  margin-right: -10px;
}

.choose-bo-item-dialog-content .row .item-content {
  line-height: 39px;
  font-size: 12px;
  cursor: pointer;
}

.choose-bo-item-dialog-content .row.loading-more-row {
  text-align: center;
}

.choose-bo-item-dialog-content .row.loading-more-row .loading-more-row-text {
  margin-left: 5px;
}