<div class="box box-without-border choose-bo-item-dialog-content" ng-controller="ChooseBoItemDialogController">
  <div class="row">
    <div class="col-md-12 item-content">
      <div class="input-group search-box">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="form-control" ng-model="searchText" ng-change="onSearchBoxChanged()">
        <span class="input-group-addon" ng-show="searchText" ng-click="onRemoveSearchTextButtonClicked()">
          <i class="fa fa-remove"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row" ng-repeat="boItem in pageData.content" ng-click="onRowClicked(boItem)">
    <div class="col-md-12 item-content" ng-bind="boItem[prop.name]">
    </div>
  </div>
  <div class="row loading-more-row" ng-show="pageIndex < pageData.totalPages - 1">
    <div class="col-md-12 item-content" ng-click="onLoadMoreRowClicked()">
      <i class="fa fa-angle-double-down" aria-hidden="true"></i><span class="loading-more-row-text">更多...</span>
    </div>
  </div>
  <div widget-loading ng-show="showLoading"></div>
</div>