.widget-tip.alert.alert-success {
  background: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 90%;
  width: 300px;
  word-wrap: break-word;
  transform: translate(-50%, -50%);
  z-index: 100;
}