<div class="form-group col-md-6 bo-property-form-group" has-error="{{!!errorMessage}}" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}">
  <label for="{{prop.name}}" ng-bind="prop.label"></label>
  <div ng-if="!prop.readonly">
    <div widget-date-picker ng-model="$parent.value" id="{{prop.name}}"></div>
    <span class="help-block" ng-show="errorMessage" ng-bind="errorMessage"></span>
  </div>
  <div ng-if="prop.readonly">
    <input type="text" class="form-control" readonly ng-value="value | joda | date:'yyyy-MM-dd'">
    <span class="help-block" ng-show="errorMessage" ng-bind="errorMessage"></span>
  </div>
</div>