.widget-check-box .widget-check-box-icon {
  margin-right: 10px;
}

.widget-check-box label {
  font-weight: normal;
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 0px;
  vertical-align: middle;
}