<div class="date-search-dialog" ng-controller="BoChooseFromDatePicker">
  <div class="option-item" ng-repeat="option in options track by $index">
    <div widget-radio-box ng-model="option.selected" content="{{option.label}}" on-radiobox-value-changed="onRadioChanged(option)"></div>
    <div class="date-select" ng-if="option.name === 'custom' && option.selected">
      <div class="form-group">
        <label>开始时间</label>
        <div widget-date-picker ng-model="option.startDate" id="startDate" data-date-format="dd-mm-yyyy"></div>
      </div>
      <div class="form-group">
        <label>结束时间</label>
        <div widget-date-picker ng-model="option.endDate" id="endDate" data-date-format="dd-mm-yyyy"></div>
      </div>
    </div>
  </div>
</div>