.date-search-dialog .option-item {
  height: 40px;
  border-bottom: 1px dashed #cecbcb;
  padding: 8px 10px 0px 10px;
}

.date-search-dialog .option-item .date-select .form-group {
  margin-top: 15px;
}