<div class="number-search-dialog" ng-controller="SearchNumberConditionDialog">
  <div class="box-body">
    <div class="form-group">
      <label for="rule">规则</label>
      <select id="rule" class="form-control" ng-model="data.rule" ng-options="rule.name as rule.label for rule in rules">
      </select>
    </div>
    <div class="form-group" ng-if="data.rule !== 'between'">
      <label for="value">值</label>
      <input type="number" ng-model="$parent.data.value" class="form-control" id="value">
    </div>
    <div class="form-group" ng-if="data.rule === 'between'">
      <label for="from">从</label>
      <input type="number" ng-model="$parent.data.from" class="form-control" id="from">
    </div>
    <div class="form-group" ng-if="data.rule === 'between'">
      <label for="to">到</label>
      <input type="number" ng-model="$parent.data.to" class="form-control" id="to">
    </div>
  </div>
</div>