.ngdialog.huoyun-dialog-container.bo-choose-from-list-dialog .ngdialog-content {
  width: 80%;
}

/*.choose-from-list-view-dialog table.table tbody tr:first-child ,
.choose-from-list-view-dialog table.table tbody tr:first-child:hover,
.choose-from-list-view-dialog table.table tbody tr:first-child:focus{
  color: #fff;
  background: #3c8dbc;
  background-color: #3c8dbc;
}

.choose-from-list-view-dialog table.table tbody tr:first-child th{
  border-top: none;
}*/
