form.form-writable .form-group[mandatory="true"] label::before {
  content: " * ";
  color: red;
}

form .form-group[has-error="true"] .form-control {
  border-color: #dd4b39;
  box-shadow: none;
}

form .form-group[has-error="true"] .help-block {
  color: #dd4b39;
  font-size: 10px;
  margin-bottom: 0px;
  margin-top: 2px;
}

.bo-edition-form .section-title,
.bo-creation-form .section-title,
.bo-home-form .section-title {
  border-bottom: 1px dotted #ddd;
  line-height: 30px;
  margin-bottom: 30px;
  color: #676767;
  font-weight: normal;
  font-size: 14px;
}

.bo-home-form.box .box-body {
  padding-top: 0px;
}

.form-group label {
  font-weight: normal;
  font-size: 12px;
}

input[placeholder],
[placeholder],
*[placeholder] {
  color: #676767 !important;
  font-weight: normal;
  font-size: 12px;
}

.datepicker.dropdown-menu th,
.datepicker.dropdown-menu td {
  font-weight: normal;
  font-size: 12px;
}

.bo-creation-form .box-footer .btn {
  margin-left: 15px;
  min-width: 60px;
}