<div class="box bo-creation-form">
  <div class="box-header with-border">
    <h3 class="box-title" ng-bind="boMetadata.label"></h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form" class="form-writable">
    <div class="box-body" ng-repeat="section in boMetadata.sections">
      <h4 class="section-title">
        <i class="fa fa-newspaper-o"></i>
        <span ng-bind="section.label"></span>
      </h4>

      <div ng-repeat="prop in section.properties" ng-hide="prop.visibility === false || prop.readonly">
        <div ng-if="propTemplates[prop.name]">
          <div ng-include="propTemplates[prop.name]"></div>
        </div>
        <div ng-if="!propTemplates[prop.name]" ng-switch="prop.type">
          <div ng-switch-when="Text" widget-form-group-text prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
          <div ng-switch-when="Date" widget-form-group-date prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
          <div ng-switch-when="DateTime" widget-form-group-date-time prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
          <div ng-switch-when="Email" widget-form-group-email prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
          <div ng-switch-when="Phone" widget-form-group-phone prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
          <div ng-switch-when="Price" widget-form-group-price prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
          <div ng-switch-when="BoLabel" widget-form-group-bo-label prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
          <div ng-switch-when="ValidValues" widget-form-group-valid-values prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
          <div ng-switch-when="Image"></div>
          <div ng-switch-default widget-form-group-string prop="prop" ng-model="boData[prop.name]" error-message="errors[prop.name]['errorMessage']"></div>
        </div>
      </div>
    </div>

    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-default pull-right" ng-click="onCancelButtonClicked()">取消</button>
      <button type="submit" class="btn btn-primary pull-right" ng-click="onSaveButtonClicked()">保存</button>
    </div>
  </form>
</div>