<div class="box bo-home-form">
  <div class="box-header with-border">
    <h3 class="box-title" ng-bind="boMetadata.label"></h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form">
    <div class="box-body" ng-repeat="section in boMetadata.sections">
      <h4 class="section-title">
        <i class="fa fa-newspaper-o"></i>
        <span ng-bind="section.label"></span>
      </h4>

      <div ng-repeat="prop in section.properties">
        <div class="custom-property-template" ng-if="propTemplates[prop.name]">
          <div ng-include="propTemplates[prop.name]"></div>
        </div>
        <div ng-if="!propTemplates[prop.name]" ng-switch="prop.type">
          <div widget-form-group-image ng-switch-when="Image" prop="prop" bo-metadata="boMetadata" ng-model="boData['id']">
          </div>
          <div widget-form-group-image-list ng-switch-when="ImageList" prop="prop" bo-id="boData['id']" bo-metadata="boMetadata" ng-model="boData[prop.name]" on-image-removed-handler="onImageRemovedHandler(image,boMeta,prop)" on-file-upload-successed="onFileUploadSuccessed(file,event)">
          </div>
          <div ng-switch-default>
            <div ng-switch="prop.type" class="form-group col-md-6 bo-property-form-group" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}">
              <label class="col-sm-4 control-label" for="{{prop.name}}" ng-bind="prop.label"></label>
              <div class="col-sm-8">
                <label ng-switch-when="Date" ng-bind="boData[prop.name] | joda | date:'yyyy-MM-dd'"></label>
                <label ng-switch-when="DateTime" ng-bind="boData[prop.name] | joda | date:'yyyy-MM-dd HH:mm'"></label>
                <label ng-switch-when="ValidValues" ng-bind="boData[prop.name] | ValidValueLabel : prop"></label>
                <label ng-switch-when="BoLabel" ng-bind="boData[prop.name] | BoLabel : prop"></label>
                <label ng-bind="boData[prop.name]" ng-switch-default></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>