<div class="box bo-home-form">
  <div class="box-header with-border">
    <h3 class="box-title" ng-bind="boMetadata.label"></h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form">
    <div class="box-body" ng-repeat="section in boMetadata.sections">
      <h4 class="section-title">
        <i class="fa fa-newspaper-o"></i>
        <span ng-bind="section.label"></span>
      </h4>

      <div ng-repeat="prop in section.properties" ng-switch="prop.type">
        <div widget-form-group-image ng-switch-when="Image" prop="prop" bo-metadata="boMetadata" ng-model="boData['id']">
        </div>
        <div widget-form-group-image-list ng-switch-when="ImageList" prop="prop" bo-id="boData['id']" bo-metadata="boMetadata" ng-model="boData[prop.name]" on-file-remove-successed="onFileRemoveSuccessed(image,boMeta,prop)" on-file-upload-successed="onFileUploadSuccessed(file,event)">
        </div>

        <div ng-if="prop.type !== 'Image' && prop.type !== 'ImageList'" class="form-group col-md-6 bo-property-form-group" has-error="{{!!errors[prop.name]}}" mandatory="{{prop.mandatory}}" property-name="{{prop.name}}" property-type="{{prop.type}}">
          <label class="col-sm-4 control-label" for="{{prop.name}}" ng-bind="prop.label"></label>
          <div class="col-sm-8">

            <label ng-bind="boData[prop.name] | joda | date:'yyyy-MM-dd'" ng-switch-when="Date"></label>
            <label ng-bind="boData[prop.name] | joda | date:'yyyy-MM-dd HH:mm'" ng-switch-when="DateTime"></label>

            <label ng-bind="boData[prop.name] | ValidValueLabel : prop" ng-switch-when="ValidValues"></label>
            <label ng-bind="boData[prop.name] | BoLabel : prop" ng-switch-when="BoLabel"></label>

            <label ng-bind="boData[prop.name]" ng-switch-default></label>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>