.bo-listview-table .box .box-body {
  overflow-x: auto;
}

.bo-listview-table table th {
  min-width: 100px;
}

.bo-listview-table .table .empty-table {
  text-align: center;
  height: 300px;
  vertical-align: middle;
  font-size: 14px;
  background-color: #f5f5f5;
}

.bo-listview-table .table .no-hover:hover {
  background: inherit !important;
}

.bo-listview-table .box-footer {
  border-top: none;
}

.bo-listview-table .table th[prop-type="Price"],
.bo-listview-table .table td[prop-type="Price"] {
  text-align: right;
}