<div class="box bo-listview-table">
  <div class="box-header">
    <h3 class="box-title">
      <i class="fa fa-server" aria-hidden="true"></i>
      <span ng-bind="tableTitle"></span>
    </h3>

    <div class="box-tools">
      <div class="input-group input-group-sm">
        <button class="btn btn-default" ng-repeat="button in buttons" ng-hide="button.visibility === false" ng-click="onButtonClicked(button)" ng-class="button.class" ng-bind="button.text"></button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover table-bordered">
      <tbody>
        <tr class="no-hover">
          <th ng-repeat="prop in boMetadata.listview.properties" ng-hide="prop.visibility === false" property-name="{{prop.name}}" ng-bind="prop.label"></th>
        </tr>
        <tr ng-show="pageData.content.length === 0">
          <td class="empty-table" colspan="{{boMetadata.listview.properties.length}}">
            <i class="fa fa-database"></i>
            <span>暂无数据</span>
          </td>
        </tr>
        <tr ng-show="pageData.content.length > 0" ng-repeat="lineData in pageData.content" ng-click="clickRow(lineData,$index)">
          <td ng-repeat="prop in boMetadata.listview.properties" ng-hide="prop.visibility === false">
            <div ng-if="propTemplates[prop.name]">
              <div ng-include="propTemplates[prop.name]"></div>
            </div>
            <div ng-if="!propTemplates[prop.name]" ng-switch="prop.type">
              <span ng-switch-when="ValidValues" ng-bind="lineData[prop.name] | ValidValueLabel : prop"></span>
              <span ng-switch-when="BoLabel" ng-bind="lineData[prop.name] | BoLabel : prop"></span>
              <span ng-switch-when="DateTime" ng-bind="lineData[prop.name] | joda | date:'yyyy-MM-dd HH:mm'"></span>
              <span ng-switch-when="Date" ng-bind="lineData[prop.name] | joda | date:'yyyy-MM-dd'"></span>
              <span ng-switch-when="Image" widget-table-column-label-image bo-metadata="boMetadata" prop="prop" line-data="lineData"></span>
              <span ng-switch-default ng-bind="lineData[prop.name]"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <div class="pull-left table-footer-total" ng-bind="pageData | TableDataFooter"></div>
    <div widget-pagination ng-show="pageData.totalPages" page-data="pageData" on-paging-changed="onPagingChangedHandler(pageIndex)"></div>
  </div>
</div>