<div class="box bo-listview-table">
  <div class="box-header">
    <h3 class="box-title" ng-bind="boMetadata.label + '列表'"></h3>

    <div class="box-tools">
      <div class="input-group input-group-sm">
        <button class="btn btn-default" ng-if="boMetadata.listview.enableSort" ng-click="onSortHandler()" ng-bind="'排序'"></button>
        <button class="btn btn-default pull-right" ng-if="!disableCreate" ng-click="onCreateButtonClicked()" ng-bind="'创建' + boMetadata.label"></button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <tbody>
        <tr class="no-hover">
          <th ng-repeat="prop in boMetadata.listview.properties" property-name="{{prop.name}}" ng-bind="prop.label"></th>
        </tr>
        <tr ng-if="pageData.content.length===0">
          <td colspan="{{boMetadata.listview.properties.length}}" class="empty-table">
            <i class="fa fa-database"></i>
            <span>暂无数据</span>
          </td>
        </tr>
        <tr ng-if="pageData.content.length>0" ng-repeat="lineData in pageData.content" ng-click="clickRow(lineData,$index)">
          <td ng-repeat="prop in boMetadata.listview.properties" ng-switch="prop.type">
            <span ng-bind="lineData[prop.name] | ValidValueLabel : prop" ng-switch-when="ValidValues"></span>
            <span ng-bind="lineData[prop.name] | BoLabel : prop" ng-switch-when="BoLabel"></span>
            <span ng-bind="lineData[prop.name] | joda | date:'yyyy-MM-dd HH:mm'" ng-switch-when="DateTime"></span>
            <span ng-bind="lineData[prop.name] | joda | date:'yyyy-MM-dd'" ng-switch-when="Date"></span>
            <span ng-bind="lineData[prop.name]" ng-switch-default></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix">
    <div class="pull-left table-footer-total" ng-bind="pageData | TableDataFooter"></div>
    <div widget-pagination ng-show="pageData.totalPages" page-data="pageData" on-paging-changed="onPagingChangedHandler(pageIndex)"></div>
  </div>
</div>