.employee-select-item-common {
  height: 60px;
  padding: 6px 0px;
}

.employee-select-item-common .user-header img {
  height: 48px;
  width: 48px;
  border: 1px solid #f4f4f4;
  padding: 1px;
}

.employee-select-item-common .user-title {
  font-size: 10px;
}